<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/julpint.css">
</head>
<body>
    <div id="julklapp">
    <p> WOW DU FICK <%= connect[x].julklapp %> !</p>
    </div>
    <div id= "länk">
    <a href = <%= connect[x].länk %>> länk till present</a>
     </div>
     <div id="bild">
     <img src= <%= connect[x].bild %>> 
    </div>

</body>
</html>