*{
    margin:0;
    padding: 0;
}

body{
    background-color: green;
}

#randomJulklapp{
    width: 100vw;
    height: 15vh;
    background-color: red ;
}
#link{
    float: right;
    width: 15vw;
    height: 10vh;
    background-color: lightgreen;
    text-align: center;
}
#bild{
    position: absolute;
  left: 500px;
  top: 150px;
}

#text{
    width: 70vw;
    height: 33.5vh;
    background-color: red;
    position: absolute;
    left: 250px;
    top: 500px;
}